@font-face {
  font-family: "gamja";
  src: url("/public/fonts/gamja.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text-gamja{
  font-family: "gamja";
}


.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transform: translateX(0px);
}

.fade-in-left {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  animation: fade-in-left 1s linear forwards;
}

@keyframes fade-in-left {
  0% {
     transform: translateX(-100px);
  }
  100% {
     transform: translateX(0px);
  }
}

.fade-in-right {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  animation: fade-in-right 1s linear forwards;
}

@keyframes fade-in-right {
  0% {
     transform: translateX(100px);
  }
  100% {
     transform: translateX(0px);
  }
}

.fade-out {
  opacity: 0;
  /* transform: translateX(-1000px); */
}

.bg-wrap, body{
  background: linear-gradient(#3E6FED, #F33005);
}
.tk {
  background: url("/public/asset/tkBg.png") no-repeat;
  background-size: contain;
  background-position: center center;
}